// 主题颜色
$color-o-1: #ff4c29;
$color-g-1: #334756;
$color-g-2: #2c394b;
$color-g-3: #082032;

$font-color-1: #f8f9fa;
$font-color-2: #e9ecef;
$font-color-3: #dee2e6;
$font-color-4: #ced4da;
$font-color-5: #adb5bd;
$font-color-6: #6c757d;
$font-color-7: #495057;
$font-color-8: #343a40;
$font-color-9: #212529;


